<html>
  <head>
    <title>Hello World</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_styles.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/my_script.js') }}"></script>
  </head>
  <body>
    <!-- <p>My name is {{name}}</p> -->
    <!-- <img src="{{ url_for('static', filename='img/wow_dwarf.png') }}" class="medium_image"> -->

    <h1>Index (Root) Page</h1>
    <h2>Create Your User:</h2>
    <!-- read on to learn about form actions, we'll talk about the method in a later section -->
    <form action='/users' method='post'>
        Name: <input type='text' name='name'>
        Email: <input type='text' name='email'>
        <input type='submit' value='create user'>
    </form>
  </body>
</html>